/* CSS Document */
body{ margin:0px; padding:0px; }
p{margin:0px; padding:0px;}
img{border:0px;}
a:hover{text-decoration:none;}
h1 {
    text-align: center;
    color: white;
}
h2 {
    text-align: center;
    color: white;
}
#main_block{ 
margin:auto;
 width:1000px; 
 }
#innerblock{ 
float:left; 
width:1000px;
background:#28BED6 url(../images/bd_bg.jpg) repeat-x;
}
/* TOP PANEL STARTS HERE */

#top_panel{ 
float:left; display:inline; 
width:1000px;
}
.logo{
float:left;
margin:17px 0 0 60px;
position: relative;
z-index: 1; 
text-align:center;
}
.menu{
float: right;
width:520px;
margin:32px 0 0 112px;
}
.menu a{
float:left;
width:66px;
height:56px;
margin:0px 0 0 15px;
background:url(../images/tp_navbg.jpg) no-repeat;
font:bold 9px Arial, Helvetica, sans-serif;
color:#000000;
text-align:center;
padding-top:30px;
text-decoration:none;
}
.menu a:hover{
float:left;
width:66px;
height:56px;
margin:0px 0 0 15px;
background:url(../images/tp_navbg.jpg) no-repeat;
font:bold 9px Arial, Helvetica, sans-serif;
color:#fff;
text-align:center;
padding-top:30px;
text-decoration:none;
}






/* TOP PANEL ENDS HERE */

/* CONTENT PANEL STARTS HERE */

#contentpanel{ 
clear:left; float:left; width:892px; 
display:inline; margin:0px 0 0 54px;
background:#FFFFFF;
}
 

/* LEFT PANEL STARTS HERE */
.lp_padd{ 
float:left; 
width:620px; 
display:inline;
margin:10px 0 0 15px;
}
.lp_welbldxt{
float:left;
font:bold 11px Arial, Helvetica, sans-serif;
color:#2F4F57;
width:540px;
margin:10px 0 0 15px;
}
.lp_welpara{
clear:left; float:left;
width:415px;
margin:10px 0 0 15px;
font:11px/15px Arial, Helvetica, sans-serif; color:#8E9192;
}
.lp_welnks{
float:left;
font:bold 11px/15px Arial, Helvetica, sans-serif;
color:#CE0606;
width:380px;
margin:8px 0 0 0;
}
.lp_twopad{
clear:left;
float:left;
width:610px;
display:inline;
margin:15px 0 0 5px;
}
.lp_two1pad{
float:left;
width:314px;
display:inline;
}
.lp_onlfulbg{
float:left;
background:url(../images/lp_onlfulbg.jpg) no-repeat;
width:299px;
height:64px;
display:inline;
}
.lp_ontxt{
float:left;
font:30px Arial, Helvetica, sans-serif;
color:#000000;
width:260px;
margin:4px 0 0 20px;
}
.lp_onclick{
float:left;
font:bold 12px Arial, Helvetica, sans-serif;
color:#D12807;
width:65px;
margin:2px 0 0 30px;
}
.lp_grnbg{
float:left;
background:url(../images/lp_grnbg.jpg) no-repeat;
width:301px;
height:80px;
display:inline;
margin-top:10px;
}
.lp_blubg{
float:left;
background:url(../images/lp_blubg.jpg) no-repeat;
width:301px;
height:80px;
display:inline;
margin-top:10px;
}
.lp_yelbg{
float:left;
background:url(../images/lp_yellbg.jpg) no-repeat;
width:301px;
height:80px;
display:inline;
margin-top:10px;
}

.lp_two2pad{
float:left;
width:270px;
display:inline;
margin-left:5px;
}
.lp_twobg{
float:left;
width:267px;
background:#F9FAFA;
border-left:1px solid #F6F6F6;
border-right:1px solid #F6F6F6;
}
.lp_grntxts{
float:left;
font:11px/16px Arial, Helvetica, sans-serif;
color:#FFFFFF;
width:198px;
margin:10px 0 0 10px;
}
.lp_corptxts{
float:left; margin:15px 0 0 22px;
width:220px;
font:11px/16px Arial, Helvetica, sans-serif;
color:#1D1D1D;
}
.lp_corparro{
clear:left;
float:left;
background:url(../images/lp_corparro.jpg) no-repeat left;
width:60px;
padding-left:20px;
height:18px;
font:11px Arial, Helvetica, sans-serif;
color:#004651;
margin:10px 0 0 20px;
}
.lp_advcorpx{
float:left;
width:245px;
font:11px/16px Arial, Helvetica, sans-serif;
color:#373635;
margin:10px 0 0 20px;
}
.rp_feattits{
float:left;
font:bold 18px Arial, Helvetica, sans-serif; color:#373635;
width:200px;
margin:5px 0 0 10px;
}
.lp_successpad{
float:left;
width:589px;
background:#F8F9F9;
display:inline;
}
.lp_succespara{
float:left;
width:350px;
margin:10px 0 0 10px;
display:inline;
}
.lp_sucstit{
float:left;
font:bold 18px Arial, Helvetica, sans-serif;
color:#FF720A;
width:190px;
margin:2px 0 0 0;
}
.lp_suctxtxs{
float:left;
font:11px/16px Arial, Helvetica, sans-serif;
color:#3F6779;
width:320px;
margin:13px 0 0 0;
}
.lp_induspad{
float:left; width:548px;
font:11px/16px Arial, Helvetica, sans-serif;
color:#758080;
margin:12px 0 0 15px;
}
/* LEFT PANEL ENDS HERE */

/* RIGHT PANEL STARTS HERE */

.rp_padd{ 
float:left; margin:10px 0 0 2px;
width:245px; display:inline;
}
.rp_featop{
float:left;
background:url(../images/rp_featop.jpg) no-repeat;
width:215px;
height:36px;
display:inline;
padding:22px 0 0 22px;
font:bold 18px Arial, Helvetica, sans-serif;
color:#373635;
}
.rp_featpad{
float:left;
background:#539099;
width:237px;
display:inline;
}
.rp_grnparaxt{
float:left;
margin:22px 0 0 10px;
width:150px;
font:11px/16px Arial, Helvetica, sans-serif; color:#255B58;
}
.rp_mainpad{
float:left;
width:236px;
display:inline;
background:#E7E8E8 url(../images/rp_mainbtman.jpg) no-repeat bottom;
padding-bottom:80px;
}
.rp_maintxts{
float:left;
width:210px;
margin:15px 0 0 15px;
font:bold 11px/24px Arial, Helvetica, sans-serif;
color:#0E96AF;
}
.rp_compblkpad{
float:left;
width:236px;
background:#0D0D0D;
display:inline;
}
.rp_compbltxt{
float:left;
font:11px/16px Arial, Helvetica, sans-serif;
color:#FFD200;
width:125px;
margin:10px 0 0 10px;
}
.rp_grnbnrbg{
float:left;
background:url(../images/rp_grnbnrbg.jpg) no-repeat;
width:236px;
height:123px;
display:inline;
margin-top:10px;
}
.rp_contxtxs{
float:left;
font:18px Arial, Helvetica, sans-serif;
color:#FFFFFF;
width:195px;
margin:10px 0 0 10px;
}
.rp_contlnks{
float:left;
width:180px;
margin:15px 0 0 20px;
font:11px Arial, Helvetica, sans-serif;
color:#000000;
}
/* RIGHT PANEL ENDS HERE */

/* CONTENT PANEL ENDS HERE */

#ft_padd{ 
clear:left; float:left; width:1000px; 
background:#1EE7F6 url(../images/ft_bg1px.jpg) repeat-x; 
padding-bottom:20px; 
}
.ftr_lnks{ 
float:left; display:inline;
 margin:22px 0 0 180px; width:590px; 
 font:11px/15px Arial, Helvetica, sans-serif; 
 color:#A09B81;
 }
 .ft_bgtile{
 float:left;
 background:#25E7F5 url(../images/ft_bgtile.jpg) repeat-x;
 width:855px;
 display:inline;
 height:103px;
 margin-top:10px;
 }
 
.fp_txt{ 
float:left; margin:0px 0 0 0px; 
font:11px/15px Arial; color:#A09B81; 
text-decoration:none; display:inline;
 }
.fp_divi{ 
float:left; margin:0px 16px 0 16px; 
font:11px/15px Arial; color:#A09B81; 
display:inline; 
}
.ft_cpy{ 
clear:left; float:left; 
font: 11px/15px Tahoma; color:#383836; 
margin:10px 0px 0px 90px; width:310px; 
text-decoration:none;
}

